# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Python virtual environment
venv/

# Package management .lock files
Gemfile.lock

# Packages
node_modules/

# Database
app/db.sqlite3

# Compiled static files
app/static/
