{% extends 'app/base.html' %}

{% load i18n %}
{% load rest_framework %}

{% block body %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">

                {% if serializer %}

                    <form id="landing-page-analyze-form" class="form-inline" action="{% url 'copywriting:api' %}" method="post">
                        {% csrf_token %}

                        {% render_form serializer template_pack='rest_framework/inline' %}

                        <div class="form-group">
                            <input type="submit" class="btn btn-primary" value="Analyze">
                        </div>

                    </form>

                {% endif %}

            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div id="landing-pages">

                    {% if not landingpages %}

                        <p>{% trans 'No landing pages available for analysis.' %}</p>

                    {% else %}

                        {% for landingpage in landingpages %}
                            <div class="landing-page landing-page-hidden panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">
                                        {% if landingpage.title %}
                                            {{ landingpage.title }} - <small><a target="_blank" href="{{ landingpage.url }}">{{ landingpage.url }}</a></small>
                                        {% else %}
                                            <a target="_blank" href="{{ landingpage.url }}">{{ landingpage.url }}</a>
                                        {% endif %}
                                    </h3>
                                </div>
                                <div class="panel-body">
                                    {{ landingpage.content|truncatechars:2000 }}
                                </div>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>{% trans 'Flesch Readability Ease Score' %}</th>
                                            <th>{% trans 'Flesch-Kincaid Grade' %}</th>
                                            <th>{% trans 'Gunning FOG Scale' %}</th>
                                            <th>{% trans 'SMOG Index' %}</th>
                                            <th>{% trans 'Automated Readability Index' %}</th>
                                            <th>{% trans 'Coleman-Liau Index' %}</th>
                                            <th>{% trans 'Linsear Write' %}</th>
                                            <th>{% trans 'Dale-Chall Readability Score' %}</th>
                                        <tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>{{ landingpage.flesch_reading_ease }}</td>
                                            <td>{{ landingpage.flesch_kincaid_grade }}</td>
                                            <td>{{ landingpage.gunning_fog }}</td>
                                            <td>{{ landingpage.smog_index }}</td>
                                            <td>{{ landingpage.automated_readability_index }}</td>
                                            <td>{{ landingpage.coleman_liau_index }}</td>
                                            <td>{{ landingpage.linsear_write_formula }}</td>
                                            <td>{{ landingpage.dale_chall_readability_score }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        {% endfor %}

                    {% endif %}

                    {% if is_paginated %}

                        <nav class="landing-page-nav">
                            <ul class="pager">

                                {% if page_obj.has_previous %}

                                    <li><a href="{% url 'copywriting:index' %}?page={{ page_obj.previous_page_number }}">{% trans 'Previous' %}</a></li>

                                {% endif %}

                                {% if page_obj.has_next %}

                                    <li><a href="{% url 'copywriting:index' %}?page={{ page_obj.next_page_number }}">{% trans 'Next' %}</a></li>

                                {% endif %}

                            </ul>
                        </nav>

                    {% endif %}

                </div>
            </div>
        </div>
    </div>

{% endblock %}
