{% extends 'app/base.html' %}

{% load i18n %}
{% load rest_framework %}

{% block head_title %}Copywriting Analyzer{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">

                {% if serializer %}

                    <form id="landing-page-analyze-form" class="form-inline" action="{% url 'copywriting:landingpage-list' %}" method="post">
                        {% csrf_token %}

                        {% render_form serializer template_pack='rest_framework/inline' %}

                        <div class="form-group">
                            <input type="submit" class="btn btn-primary" value="Analyze">
                        </div>

                    </form>

                {% endif %}

            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div id="landing-pages">

                    {% if not landingpages %}

                        <p>{% trans 'No landing pages available for analysis.' %}</p>

                    {% else %}

                        {% for landingpage in landingpages %}

                            {% include 'copywriting/landingpage.html' with id=landingpage.pk title=landingpage.title url=landingpage.url content=landingpage.content flesch_reading_ease=landingpage.flesch_reading_ease flesch_kincaid_grade=landingpage.flesch_kincaid_grade gunning_fog=landingpage.gunning_fog smog_index=landingpage.smog_index automated_readability_index=landingpage.automated_readability_index coleman_liau_index=landingpage.coleman_liau_index linsear_write_formula=landingpage.linsear_write_formula dale_chall_readability_score=landingpage.dale_chall_readability_score %}

                        {% endfor %}

                    {% endif %}

                    {% if is_paginated %}

                        <nav class="landing-page-nav">
                            <ul class="pager">

                                {% if page_obj.has_previous %}

                                    <li><a href="{% url 'copywriting:index' %}?page={{ page_obj.previous_page_number }}">{% trans 'Previous' %}</a></li>

                                {% endif %}

                                {% if page_obj.has_next %}

                                    <li><a href="{% url 'copywriting:index' %}?page={{ page_obj.next_page_number }}">{% trans 'Next' %}</a></li>

                                {% endif %}

                            </ul>
                        </nav>

                    {% endif %}

                </div>
            </div>
        </div>
    </div>

{% endblock %}
